.animate-x-bounce-right {
  @apply transition-all;
  animation: moveRightPointer 2s infinite;
}

.animate-x-bounce-left {
  @apply transition-all;
  animation: moveLeftPointer 2s infinite;
}
/* Define the keyframes for the text animation */
/* Define the keyframes for the text animation */
@keyframes text-animation {
  0% {
    font-weight: normal; /* Start with normal font weight */
  }
  50% {
    font-weight: 800; /* Change to bold font weight */
    font-size: larger;
  }
  100% {
    font-weight: normal; /* Return to normal font weight */
  }
}

/* Style for the individual letters */
.animate-letter-animation {
  animation: text-animation 1s ease-in-out infinite;
  animation-fill-mode: both;
}

@keyframes moveRightPointer {
  0%,
  100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes moveLeftPointer {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
