.animate-x-bounce-right {
  @apply transition-all;
  animation: moveRightPointer 2s infinite;
}

.animate-x-bounce-left {
  @apply transition-all;
  animation: moveLeftPointer 2s infinite;
}

.information-animated-text {
  animation: colorScaleAnimation 5s infinite;
  opacity: 0.8;
}

@keyframes colorScaleAnimation {
  0% {
    transform: scale(1);
    color: #ffa500;
  }
  25% {
    transform: scale(1.1);
    color: #00ced1;
  }
  50% {
    transform: scale(1);
    color: #ff69b4;
  }
  75% {
    transform: scale(1.1);
    color: #32cd32;
  }
}

@keyframes moveRightPointer {
  0%,
  100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes moveLeftPointer {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
